/sklearn-venv/pyvenv.cfg
/sklearn-venv/Lib/site-packages/easy_install.py
/sklearn-venv/Scripts/activate
/sklearn-venv/Scripts/activate.bat
/sklearn-venv/Scripts/Activate.ps1
/sklearn-venv/Scripts/deactivate.bat
/sklearn-venv/Scripts/easy_install.exe
/sklearn-venv/Scripts/easy_install-3.8.exe
/sklearn-venv/Scripts/pip.exe
/sklearn-venv/Scripts/pip3.8.exe
/sklearn-venv/Scripts/pip3.exe
/sklearn-venv/Scripts/python.exe
/sklearn-venv/Scripts/pythonw.exe
/sklearn-venv/Lib/site-packages/setuptools-49.2.1.dist-info/dependency_links.txt
/sklearn-venv/Lib/site-packages/setuptools-49.2.1.dist-info/entry_points.txt
/sklearn-venv/Lib/site-packages/setuptools-49.2.1.dist-info/INSTALLER
/sklearn-venv/Lib/site-packages/setuptools-49.2.1.dist-info/LICENSE
/sklearn-venv/Lib/site-packages/setuptools-49.2.1.dist-info/METADATA
/sklearn-venv/Lib/site-packages/setuptools-49.2.1.dist-info/RECORD
/sklearn-venv/Lib/site-packages/setuptools-49.2.1.dist-info/REQUESTED
/sklearn-venv/Lib/site-packages/setuptools-49.2.1.dist-info/top_level.txt
/sklearn-venv/Lib/site-packages/setuptools-49.2.1.dist-info/WHEEL
/sklearn-venv/Lib/site-packages/setuptools-49.2.1.dist-info/zip-safe
/sklearn-venv/Lib/site-packages/setuptools/__init__.py
/sklearn-venv/Lib/site-packages/setuptools/_deprecation_warning.py
/sklearn-venv/Lib/site-packages/setuptools/_imp.py
/sklearn-venv/Lib/site-packages/setuptools/archive_util.py
/sklearn-venv/Lib/site-packages/setuptools/build_meta.py
/sklearn-venv/Lib/site-packages/setuptools/cli.exe
/sklearn-venv/Lib/site-packages/setuptools/cli-32.exe
/sklearn-venv/Lib/site-packages/setuptools/cli-64.exe
/sklearn-venv/Lib/site-packages/setuptools/config.py
/sklearn-venv/Lib/site-packages/setuptools/dep_util.py
/sklearn-venv/Lib/site-packages/setuptools/depends.py
/sklearn-venv/Lib/site-packages/setuptools/dist.py
/sklearn-venv/Lib/site-packages/setuptools/distutils_patch.py
/sklearn-venv/Lib/site-packages/setuptools/errors.py
/sklearn-venv/Lib/site-packages/setuptools/extension.py
/sklearn-venv/Lib/site-packages/setuptools/glob.py
/sklearn-venv/Lib/site-packages/setuptools/gui.exe
/sklearn-venv/Lib/site-packages/setuptools/gui-32.exe
/sklearn-venv/Lib/site-packages/setuptools/gui-64.exe
/sklearn-venv/Lib/site-packages/setuptools/installer.py
/sklearn-venv/Lib/site-packages/setuptools/launch.py
/sklearn-venv/Lib/site-packages/setuptools/lib2to3_ex.py
/sklearn-venv/Lib/site-packages/setuptools/monkey.py
/sklearn-venv/Lib/site-packages/setuptools/msvc.py
/sklearn-venv/Lib/site-packages/setuptools/namespaces.py
/sklearn-venv/Lib/site-packages/setuptools/package_index.py
/sklearn-venv/Lib/site-packages/setuptools/py27compat.py
/sklearn-venv/Lib/site-packages/setuptools/py31compat.py
/sklearn-venv/Lib/site-packages/setuptools/py33compat.py
/sklearn-venv/Lib/site-packages/setuptools/py34compat.py
/sklearn-venv/Lib/site-packages/setuptools/sandbox.py
/sklearn-venv/Lib/site-packages/setuptools/script.tmpl
/sklearn-venv/Lib/site-packages/setuptools/script (dev).tmpl
/sklearn-venv/Lib/site-packages/setuptools/ssl_support.py
/sklearn-venv/Lib/site-packages/setuptools/unicode_utils.py
/sklearn-venv/Lib/site-packages/setuptools/version.py
/sklearn-venv/Lib/site-packages/setuptools/wheel.py
/sklearn-venv/Lib/site-packages/setuptools/windows_support.py
/sklearn-venv/Lib/site-packages/pkg_resources/__init__.py
/sklearn-venv/Lib/site-packages/pip-20.2.1.dist-info/entry_points.txt
/sklearn-venv/Lib/site-packages/pip-20.2.1.dist-info/INSTALLER
/sklearn-venv/Lib/site-packages/pip-20.2.1.dist-info/LICENSE.txt
/sklearn-venv/Lib/site-packages/pip-20.2.1.dist-info/METADATA
/sklearn-venv/Lib/site-packages/pip-20.2.1.dist-info/RECORD
/sklearn-venv/Lib/site-packages/pip-20.2.1.dist-info/REQUESTED
/sklearn-venv/Lib/site-packages/pip-20.2.1.dist-info/top_level.txt
/sklearn-venv/Lib/site-packages/pip-20.2.1.dist-info/WHEEL
/sklearn-venv/Lib/site-packages/pip/__init__.py
/sklearn-venv/Lib/site-packages/pip/__main__.py
